body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar {
  background: #7cb305 !important;
  color: white;
  padding-top: 50px !important;
}

.ant-layout-sider-zero-width-trigger {
  background: #7cb305 !important;
  margin-top: 20px;
}

.anticon {
  color: #fa8c16 !important;
}

.ant-menu-item-selected {
  color: #fa8c16 !important;
  background-color: #fff7e6 !important;
}

.ant-menu-item-selected a {
  color: #fa8c16 !important;
}

.ant-menu-item::after {
  border-right: 3px solid #fa8c16 !important;
}

.ant-menu-item-active {
  color: #fa8c16 !important;
}

.ant-menu-item a:hover {
  color: #fa8c16 !important;
}

.ant-layout-header {
  background: #7cb305 !important;
  padding: 0 20px !important;
  height: 85px !important;
}

/* ant-menu ant-menu-dark ant-menu-root ant-menu-horizontal
esta clase se supone es donde tengo que separara el login y signup de mi logo (header) */

.ant-menu.ant-menu-dark {
  background: #7cb305 !important;
}

.ant-menu-submenu-selected {
  color: #fa8c16 !important;
}

.ant-menu-submenu-active {
  color: #fa8c16 !important;
}

.ant-menu-submenu-title:hover {
  color: #fa8c16 !important;
}

.ant-menu-sub {
  background: #f4ffb8 !important;
}

.login-form {
  max-width: 300px !important;
}

.login-form-forgot {
  float: right !important;
}

.ant-col-rtl .login-form-forgot {
  float: left !important;
}

.login-form-button {
  width: 100% !important;
}

.GgLogin {
  font-size: x-large;
  color: #DB4437 !important;
}

.FbLogin {
  font-size: x-large !important;
  color: #3b5998 !important;
}

.GgLoginContainer {
  border-color: #DB4437 !important;
  border-radius: 12px !important;
}

.FbLoginContainer {
  border-color: #3b5998 !important;
  border-radius: 12px !important;
}

.site-layout-background {
  padding-top: 120px !important;
  /* padding-left: 200px !important;
  padding-right: 50px !important; */
}


.ant-carousel .slick-slide h3 {
  color: #fff;
}

.site-card-wrapper {
  padding: 20px !important;
}

.productCard {
  margin: 5px !important;
}

.ImgUpdate {
  width: 150px;
  height: auto;
}

.MenuHeader{
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
}

.MenuHeader > *{
  margin-left: 15px;
}

.LogoMenu {
  width: 110px;
  height: auto;
  position: absolute;
  left: 30px;
}

.Carousel {
  display: flex !important;
  justify-content: center !important;
  overflow: hidden !important;
  height: 30vh;
}

.ant-row {
  justify-content: space-between;
}

/* display: flex;
flex-flow: row wrap;
justify-content: space-between */
