body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar {
  background:#7cb305 !important;
  color: white ;
}

.ant-layout-sider-zero-width-trigger {
  background:#7cb305 !important;
}

.anticon {
  color: #fa8c16 !important;
}

.ant-menu-item-selected {
  color: #fa8c16 !important;
  background-color: #fff7e6 !important;
}

.ant-menu-item-selected a {
  color: #fa8c16 !important;
}

.ant-menu-item::after {
  border-right: 3px solid #fa8c16 !important;
}

.ant-menu-item-active {
  color: #fa8c16 !important;
}

.ant-menu-item a:hover {
  color: #fa8c16 !important;
}

.ant-layout-header {
  background:#7cb305 !important;
  padding: 0 15px !important;
}

.ant-menu.ant-menu-dark {
  background:#7cb305 !important;
}

.ant-menu-submenu-selected {
  color: #fa8c16 !important;
}

.ant-menu-submenu-active {
  color: #fa8c16 !important;
}

.ant-menu-submenu-title:hover {
  color: #fa8c16 !important;
}

.ant-menu-sub{
  background:#f4ffb8 !important;
}

.login-form {
  max-width: 300px !important;
}
.login-form-forgot {
  float: right !important;
}
.ant-col-rtl .login-form-forgot {
  float: left !important;
}
.login-form-button {
  width: 100% !important;
}

.GgLogin{
  font-size: x-large;
  color: #DB4437 !important;
}

.FbLogin{
  font-size: x-large !important;
  color: #3b5998 !important;
}

.GgLoginContainer{
  border-color: #DB4437 !important;
  border-radius: 12px !important;
}

.FbLoginContainer{
  border-color: #3b5998 !important;
  border-radius: 12px !important;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.site-card-wrapper{
  padding: 20px !important;
  display: flex;
}

.productCard {
  margin: 5px !important;
}